#srTimerContainer {
  position: absolute;
  z-index: 1000000000;
  font-weight: bold;
  font-family: Courier, monospace;
  color: #fff;
  z-index: 99999998;
  padding: 0;
  margin-left: -0.5px;
  margin-top: -0.5px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

#srTimerSplitContainer {
  overflow: auto;
  flex-grow: 1;
}

#srTimerTitle {
  text-align: center;
  -webkit-app-region: drag;
  width: calc(100% + 4px);
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-top: 14px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  cursor: move;
}

#srTimerTimer {
  font-size: 24px;
  text-align: right;
  height: 24px;
  width: 100%;
}

.sr-split-delta {
  margin-left: 10px;
  margin-right: 10px;
}

.sr-split-time {
  margin-left: 10px;
  margin-right: 10px;
}

.sr-split-line {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 6px;
  padding-bottom: 2px;
  text-align: left;
  font-size: 8pt;
  height: 16px;
}

.sr-split-icon {
  position: relative;
  margin-top: -6px;
  margin-right: 2px;
  float: left;
  width: 24px;
  height: 24px;
  background-size: 816px;
  background-image: url(../../../src/img/icons.png);
}

#srTimerExtra {
  width: 100%;
  background-color: #44444433;
  cursor: pointer;
}

.sr-fail-icon {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
  background-size: 816px;
  background-image: url(../../../src/img/icons.png);
  margin: 2px;
}

.sr-tooltip {
  position: absolute;
  visibility: hidden;
  min-width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  top: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #bbb;

  /* Position the tooltip */
  z-index: 99999999;
}

.sr-fail-icon:hover .sr-tooltip {
  visibility: visible;
}

.sr-split-line:nth-child(odd) {
  background-color: #ffffff33;
}

.sr-split-line:nth-child(even) {
  background-color: #050505ff;
}

#srTimerTimer {
  padding-top: 6px;
  background-color: #222222ff;
}

.sr-active-manual {
  background-color: #855a0b !important;
}

.sr-active-consequential {
  background-color: #2d8037 !important;
}

.sr-active-sequential {
  background-color: #105218 !important;
}
